.main-header {
    padding: 8px;
    height: 45px;
    background-color: #e6e6e6;
}

.searchIcon {
    background-color: var(--primary-color);
    border-radius: 4px 0 0 4px;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}

.main__header__search-input {
    display: grid;
    grid-template-columns: 45px 1fr;
    border-radius: 4px;
}

.search-input input {
    height: 30px;
    width: 95%;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 0 4px 4px 0;
}

.main__hero {
    width: 100%;
}

.main-content {
    width: 100%;
}